* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------------------------ Coloum --------------------------------------*/
.col100 {
    width: 100%;
    margin: 0 auto;
}

.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col30 {
    width: 30%;
}

.col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col60 {
    width: 60%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col90 {
    width: 90%;
}

.col33 {
    width: 33.333333%;
}

/*------------------------------------ Width --------------------------------------*/
.fit {
    width: -moz-fit-content;
}

.full {
    width: 100%;
}

.full>div {
    margin: 0px auto;
}

/*------------------------------------ Area --------------------------------------*/
.area-small {
    padding: 4px;
}

.area-medium {
    padding: 8px;
}

.area-big {
    padding: 12px;
}

.area-large {
    padding: 16px;
}

/*------------------------------------  Umum  ------------------------------------*/
.img-res {
    max-width: 100%;
}

.clear {
    clear: both;
    height: 0px !important;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*------------------------------------  Text  ------------------------------------*/
.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.nowrap-clips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*------------------------------------  Padding & Margin  ------------------------------------*/
.pd2 {
    padding: 2px;
}

.pd4 {
    padding: 4px;
}

.pd8 {
    padding: 8px;
}

.pd12 {
    padding: 12px;
}

.pd-tb2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.pd-tb4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pd-tb8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pd-tb12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pd-lr2 {
    padding-left: 2px;
    padding-right: 2px;
}

.pd-lr4 {
    padding-left: 4px;
    padding-right: 4px;
}

.pd-lr8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pd-lr12 {
    padding-left: 12px;
    padding-right: 12px;
}

.mg2 {
    margin: 2px;
}

.mg4 {
    margin: 4px;
}

.mg8 {
    margin: 8px;
}

.mg12 {
    margin: 12px;
}

.mg0a {
    margin: 0 auto;
}

/*------------------------------------  Round  ------------------------------------*/
.round2 {
    border-radius: 2px;
}

.round4 {
    border-radius: 4px;
}

.round6 {
    border-radius: 6px;
}

.round8 {
    border-radius: 8px;
}

/*------------------------------------  Responsive  ------------------------------------*/
.res4-2-b {
    display: none;
}

.res3-b {
    display: none;
}

.res2-b {
    display: none;
}

@media(max-width:1279px) {}

@media(max-width:979px) {}

@media(max-width:799px) {}

@media(max-width:767px) {
    .res4-2-2 {
        width: 50% !important;
    }

    .res4-2-1 {
        width: 50% !important;
    }

    .res3-1 {
        width: 100% !important;
    }

    .res4-2-h {
        display: none;
    }

    .res3-h {
        display: none;
    }

    .res4-2-b {
        display: block;
        width: 50% !important;
    }

    .res3-b {
        display: block;
        width: 100% !important;
    }
}

@media(max-width:639px) {}

@media(max-width:479px) {
    .res4-2-1 {
        width: 100% !important;
    }

    .res2-1 {
        width: 100% !important;
    }

    .res2-h {
        display: none;
    }

    .res2-b {
        display: block;
        width: 100% !important;
    }
}

@media(max-width:359px) {}