* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0;
    margin: 0;
}

/*------------------------------------ Wrapper --------------------------------------*/

.wrapper-xxs {
    margin: 0 auto;
    width: 420px;
}

.wrapper-xs {
    margin: 0 auto;
    width: 640px;
}

.wrapper-s {
    margin: 0 auto;
    width: 800px;
}

.wrapper-m {
    margin: 0 auto;
    width: 980px;
}

.wrapper-l {
    margin: 0 auto;
    width: 1024px;
}

.wrapper-xl {
    margin: 0 auto;
    width: 1280px;
}


/*------------------------------------ Coloum --------------------------------------*/

.col100 {
    width: 100%;
    margin: 0 auto;
}

.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col30 {
    width: 30%;
}

.col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col60 {
    width: 60%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col90 {
    width: 90%;
}

.col33 {
    width: 33.333333%;
}

.col8 {
    width: 8.333333%;
}

.col {
    display: contents;
}


/*------------------------------------ Offset --------------------------------------*/

.offset10 {
    margin-left: 10%;
}

.offset20 {
    margin-left: 20%;
}

.offset25 {
    margin-left: 25%;
}

.offset30 {
    margin-left: 30%;
}

.offset40 {
    margin-left: 40%;
}

.offset50 {
    margin-left: 50%;
}

.offset60 {
    margin-left: 60%;
}

.offset70 {
    margin-left: 70%;
}

.offset75 {
    margin-left: 75%;
}

.offset80 {
    margin-left: 80%;
}

.offset90 {
    margin-left: 90%;
}

.offset33 {
    margin-left: 33.333333%;
}

.offset8 {
    margin-left: 8.333333%;
}

/*------------------------------------ Width --------------------------------------*/

.fit {
    width: -moz-fit-content;
}

.full {
    width: 100%;
}

.full>div {
    margin: 0px auto;
}


/*------------------------------------ Content --------------------------------------*/

.content-s {
    padding: 4px 8px;
}

.content-m {
    padding: 8px 12px;
}

.content-l {
    padding: 12px 16px;
}

.content-xl {
    padding: 16px 20px;
}

.sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.display-table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}


/*------------------------------------ List --------------------------------------*/

.list-s {
    margin-bottom: 12px;
}

.list-m {
    margin-bottom: 16px;
}

.list-l {
    margin-bottom: 24px;
}

.list-xl {
    margin-bottom: 32px;
}

/*------------------------------------ Link & Text --------------------------------------*/

.link {
    text-decoration: none;
}

.link-blue, .text-blue {
    color: #3a64ad;
}

.link-orange, .text-orange {
    color: #fb9b19;
}

.link-red, .text-red {
    color: #ea1b21;
}

.link-green, .text-green {
    color: #91c335;
}

.link-yellow, .text-yellow {
    color: #F4d531;
}

.link-purple, .text-purple {
    color: #7c4797;
}

.link-pink, .text-pink {
    color: #f27e9d;
}

.link-grey, .text-grey {
    color: #dcdee3;
}

.link-dark, .text-dark {
    color: #606060;
}

.link-torquise, .text-torquise {
    color: #7fe3db;
}

.link-skyblue, .text-skyblue {
    color: #38afe7;
}

.link-brown, .text-brown {
    color: #da963c;
}

.link-black, .text-black {
    color: #000000;
}

.link-white, .text-white {
    color:#ffffff;
}

/*------------------------------------ Text Style --------------------------------------*/

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike-trough {
    text-decoration: line-through;
}

/*------------------------------------ Button --------------------------------------*/

.btn {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: -moz-fit-content;
    display: inherit;
}

.btn:hover {
    opacity: 0.7;
}

.btn-full {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    float: left;
    width: 100%;
    text-align: center;
}

.btn-s {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-m {
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 16px;
}

.btn-l {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 18px;
}

.btn-xl {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 20px;
}

.btn-blue {
    background-color: #3a64ad;
    border: 1px solid #3a64ad;
}

.btn-orange {
    background-color: #fb9b19;
    border: 1px solid #fb9b19;
}

.btn-red {
    background-color: #ea1b21;
    border: 1px solid #ea1b21;
}

.btn-green {
    background-color: #91c335;
    border: 1px solid #91c335;
}

.btn-yellow {
    background-color: #F4d531;
    border: 1px solid #F4d531;
}

.btn-purple {
    background-color: #7c4797;
    border: 1px solid #7c4797;
}

.btn-pink {
    background-color: #f27e9d;
    border: 1px solid #f27e9d;
}

.btn-grey {
    background-color: #dcdee3;
    border: 1px solid #dcdee3;
}

.btn-dark {
    background-color: #606060;
    border: 1px solid #606060;
}

.btn-torquise {
    background-color: #7fe3db;
    border: 1px solid #7fe3db;
}

.btn-skyblue {
    background-color: #38afe7;
    border: 1px solid #38afe7;
}

.btn-brown {
    background-color: #da963c;
    border: 1px solid #da963c;
}

.btn-white {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.btn-black {
    background-color: #000000;
    border: 1px solid #000000;
}

.btn-blue,
.btn-orange,
.btn-red,
.btn-green,
.btn-yellow,
.btn-purple,
.btn-pink,
.btn-grey,
.btn-dark,
.btn-torquise,
.btn-skyblue,
.btn-brown,
.btn-black {
    color: #fff !important;
}

.btn-white {
    color: #000;
}

/*------------------------------------ Box Area / Alert --------------------------------------*/

.alert-s {
    padding: 8px;
    font-size: 12px;
    border: solid 1px;
    border-radius: 4px;
}

.alert-m {
    padding: 10px;
    font-size: 14px;
    border: solid 2px;
    border-radius: 6px;
}

.alert-l {
    padding: 12px;
    font-size: 16px;
    border: solid 3px;
    border-radius: 8px;
}

.alert-xl {
    padding: 14px;
    font-size: 18px;
    border: solid 4px;
    border-radius: 10px;
}

.alert-blue {
    border-color: #3a64ad;
    color: #3a64ad;
    background-color: #ebeff7;
}

.alert-red {
    border-color: #ea1b21;
    color: #ea1b21;
    background-color: #fde8e8;
}

.alert-orange {
    border-color: #fb9b19;
    color: #fb9b19;
    background-color: #fff5e8;
}

.alert-green {
    border-color: #91c335;
    color: #91c335;
    background-color: #f4f9ea;
}

.alert-skyblue {
    border-color: #38afe7;
    color: #38afe7;
    background-color: #ebf7fd;
}

.alert-torquise {
    border-color: #7fe3db;
    color: #7fe3db;
    background-color: #f2fcfb;
}

.alert-yellow {
    border-color: #F4d531;
    color: #F4d531;
    background-color: #fefbea;
}

.alert-pink {
    border-color: #f27e9d;
    color: #f27e9d;
    background-color: #fef2f5;
}

.alert-purple {
    border-color: #7c4797;
    color: #7c4797;
    background-color: #f2ecf4;
}

.alert-brown {
    border-color: #da963c;
    color: #da963c;
    background-color: #fbf4eb;
}

.alert-grey {
    border-color: #dcdee3;
    color: #dcdee3;
    background-color: #fbfcfc;
}

.alert-dark {
    border-color: #606060;
    color: #606060;
    background-color: #efefef;
}

.alert-white {
    border-color: #ffffff;
    color: #ffffff;
    background-color: none;
}

.alert-black {
    border-color: #000000;
    color: #000000;
    background-color: #ffffff;
}

/*------------------------------------ Background --------------------------------------*/

.bg-blue {
    background-color: #3a64ad;
}

.bg-red {
    background-color: #ea1b21;
}

.bg-orange {
    background-color: #fb9b19;
}

.bg-green {
    background-color: #91c335;
}

.bg-skyblue {
    background-color: #38afe7;
}

.bg-torquise {
    background-color: #7fe3db;
}

.bg-yellow {
    background-color: #F4d531;
}

.bg-pink {
    background-color: #f27e9d;
}

.bg-purple {
    background-color: #7c4797;
}

.bg-brown {
    background-color: #da963c;
}

.bg-grey {
    background-color: #dcdee3;
}

.bg-dark {
    background-color: #606060;
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #333333;
}

.bg-blue,
.bg-orange,
.bg-red,
.bg-green,
.bg-yellow,
.bg-purple,
.bg-pink,
.bg-grey,
.bg-dark,
.bg-torquise,
.bg-skyblue,
.bg-brown,
.bg-black {
    color: #fff !important;
}

.bg-white {
    color: #000;
}

.bg-fix {
    background-size: cover;
    background-position: center;
}

/*------------------------------------ Input --------------------------------------*/

.input-text {
    border: solid 1px #dcdee3;
    background-color: #fcfcfc;
    margin: 4px;
    width: -moz-available;
}

.input-s {
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
    height: 24px;
}

.input-m {
    font-size: 14px;
    border-radius: 4px;
    padding: 6px;
    height: 32px;
}

.input-l {
    font-size: 16px;
    border-radius: 4px;
    padding: 8px;
    height: 36px;
}

.input-xl {
    font-size: 18px;
    border-radius: 4px;
    padding: 8px;
    height: 40px;
}

.input-textarea {
    border: solid 1px #dcdee3;
    background-color: #fcfcfc;
    margin: 4px;
    width: -moz-available;
}

.textarea-s {
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
}

.textarea-m {
    font-size: 14px;
    border-radius: 4px;
    padding: 6px;
}

.textarea-l {
    font-size: 16px;
    border-radius: 4px;
    padding: 8px;
}

.textarea-xl {
    font-size: 18px;
    border-radius: 4px;
    padding: 8px;
}

.input-select {
    border: solid 1px #dcdee3;
    background-color: #fff;
    margin: 4px;
    width: -moz-available;
}

.select-s {
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
}

.select-m {
    font-size: 14px;
    border-radius: 4px;
    padding: 6px;
}

.select-l {
    font-size: 16px;
    border-radius: 4px;
    padding: 8px;
}

.select-xl {
    font-size: 18px;
    border-radius: 4px;
    padding: 8px;
}


/*------------------------------------  Display  ------------------------------------*/

.img-res {
    max-width: 100%;
}

.clear {
    clear: both;
    height: 0px !important;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

/*------------------------------------  Aligement  ------------------------------------*/

.left, .float-left {
    float: left;
}

.right, .float-right {
    float: right;
}

.float-none{
    float: none!important;
}

.center, .text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.justify {
    text-align: justify;
}

/*------------------------------------  Text Warp ------------------------------------*/

.nowrap-clips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap-ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.nowrap-ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/*------------------------------------  Pading & Margin ------------------------------------*/

.pd-s {
    padding: 4px;
}

.pd-m {
    padding: 8px;
}

.pd-l {
    padding: 12px;
}

.pd-xl {
    padding: 16px;
}

.pd-tb-s {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pd-tb-m {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pd-tb-l {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pd-tb-xl {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pd-lr-s {
    padding-left: 4px;
    padding-right: 4px;
}

.pd-lr-m {
    padding-left: 8px;
    padding-right: 8px;
}

.pd-lr-l {
    padding-left: 12px;
    padding-right: 12px;
}

.pd-lr-xl {
    padding-left: 16px;
    padding-right: 16px;
}

.mg-s {
    margin: 4px;
}

.mg-m {
    margin: 8px;
}

.mg-l {
    margin: 12px;
}

.mg-xl {
    margin: 16px;
}

.mg-auto {
    margin: 0 auto;
}


/*------------------------------------ Round  ------------------------------------*/

.round-s {
    border-radius: 4px;
}

.round-m {
    border-radius: 6px;
}

.round-l {
    border-radius: 8px;
}

.round-xl {
    border-radius: 12px;
}

.round-xxl {
    border-radius: 24px;
}

.round-circle {
    border-radius: 50%;
}

/*------------------------------------  Opacity ------------------------------------*/

.opacity1 {
    opacity: 0.1;
}

.opacity2 {
    opacity: 0.2;
}

.opacity3 {
    opacity: 0.3;
}

.opacity4 {
    opacity: 0.4;
}

.opacity5 {
    opacity: 0.5;
}

.opacity6 {
    opacity: 0.6;
}

.opacity7 {
    opacity: 0.7;
}

.opacity8 {
    opacity: 0.8;
}

.opacity9 {
    opacity: 0.9;
}


/*------------------------------------ Shadow ------------------------------------*/

.shadow-s {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.shadow-m {
    box-shadow: 0 0 8px 0 rgba(1, 1, 1, 0.2);
}

.shadow-l {
    box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.3);
}

.shadow-xl {
    box-shadow: 0 0 16px 0 rgba(3, 3, 3, 0.4);
}


/*------------------------------------ Table ------------------------------------*/

.table {
    border-collapse: collapse;
}

.table tr td {
    border: solid 1px;
}

.table-s td {
    padding: 4px;
    font-size: 12px;
}

.table-m td {
    padding: 6px;
    font-size: 14px;
}

.table-l td {
    padding: 8px;
    font-size: 16px;
}

.table-xl td {
    padding: 12px;
    font-size: 18px;
}

.table-clear tr td {
    border: none;
}


/*------------------------------------  Title  ------------------------------------*/

.title-s {
    font-size: 16px;
    margin-bottom: 8px;
}

.title-m {
    font-size: 18px;
    margin-bottom: 10px;
}

.title-l {
    font-size: 20px;
    margin-bottom: 12px;
}

.title-xl {
    font-size: 24px;
    margin-bottom: 14px;
}


/*------------------------------------  Pagination  ------------------------------------*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li {
    display: inline
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #3a64ad;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #3a64ad;
    border-color: #3a64ad
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-l>li>a,
.pagination-l>li>span {
    padding: 10px 16px;
    font-size: 18px
}

.pagination-l>li:first-child>a,
.pagination-l>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-l>li:last-child>a,
.pagination-l>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-s>li>a,
.pagination-s>li>span {
    padding: 5px 10px;
    font-size: 12px
}

.pagination-s>li:first-child>a,
.pagination-s>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-s>li:last-child>a,
.pagination-s>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}


/*------------------------------------  List Style  ------------------------------------*/
ul.li-none li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/*------------------------------------  Responsive  ------------------------------------*/
.res4-2-b {
    display: none;
}

.res3-b {
    display: none;
}

.res2-b {
    display: none;
}

.res3-o {
    overflow: none;
}

.res2-o {
    overflow: none;
}

@media(max-width:1279px) {

    #wrapper1,
    #wrapper2,
    #wrapper3,
    #wrapper4 {
        width: auto;
    }

    .wrapper {
        width: 980px !important;
    }
}

@media(max-width:979px) {

    #wrapper1,
    #wrapper2,
    #wrapper3,
    #wrapper4 {
        width: auto;
    }

    .wrapper {
        width: 800px !important;
    }
}

@media(max-width:799px) {

    #wrapper1,
    #wrapper2,
    #wrapper3,
    #wrapper4 {
        width: auto;
    }

    .wrapper {
        width: 768px !important;
    }
}

@media(max-width:767px) {
    .wrapper {
        width: 640px !important;
    }

    .res4-2-2 {
        width: 50% !important;
    }

    .res4-2-1 {
        width: 50% !important;
    }

    .res3-1 {
        width: 100% !important;
        margin: 0px;
    }

    .res4-2-h {
        display: none;
    }

    .res3-h {
        display: none;
    }

    .res4-2-b {
        display: block;
        width: 50% !important;
    }

    .res3-b {
        display: block;
        width: 100% !important;
        margin: 0px;
    }

    .res3-o {
        overflow: scroll;
    }
}

@media(max-width:639px) {
    .wrapper {
        width: 480px !important;
    }
}

@media(max-width:479px) {
    .wrapper {
        width: 360px !important;
    }

    .res4-2-1 {
        width: 100% !important;
        margin: 0px;
    }

    .res2-1 {
        width: 100% !important;
        margin: 0px;
    }

    .res2-h {
        display: none;
    }

    .res2-b {
        display: block;
        width: 100% !important;
        margin: 0px;
    }

    .res2-o {
        overflow: scroll;
    }
}

@media(max-width:359px) {
    .wrapper {
        width: 320px !important;
    }
}